* {
    box-sizing: border-box;
}


html, body{
    padding: 0;
    margin: 0;
    height: 100vh auto;
    background-image: url('./SPP00299.JPG');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vh;
    padding-right: 100px;
}

.container-a{
    width: 80vh ;
    height: 365px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: 5px 5px 15px rgba(116, 227, 255, 0.817);
    background-image: url('./bg.JPG');
    background-position: relative;
    position: relative;
}

.welcome{
    text-align: center;
    padding-top: 25px;
    color: #efefef;
    font-size: 20pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.bg-ppku img{
    border-radius: 50%;
    border: 3px solid #efefef;
    box-shadow: 5px 8px 10px;
    overflow: hidden;
    height: 130px;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-right: 35px;
  }

.bg-ppku{
    margin-top: 5px;
}

.panggilan h1 {
    color: #efefef;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    font-size: 45pt;
    margin-right: 5px;
    padding: 30px;
    text-shadow: 5px 8px 7px gray;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.panggilan p{
    color: rgba(255, 255, 255, 0.86);
    display: flex;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin-right: 20px;
}

.bio h2{
    margin-left: 40px;
    color: white;
    font-family: fantasy;
    text-shadow: 5px 8px 7px gray;
    padding-top: 20px;
}

.bio p{
    margin-left: 30px;
    line-height: 5px;
    color: grayscale;
    stroke: 10px black;
}

.bio h4{
    margin-left: 40px;
    color: white;
    font-size: 13pt;
    font-family: fantasy;
    text-shadow: 2px 5px 9px gray;
}

.bio{
    padding-top: 55px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.664);
    color: whitesmoke;
    letter-spacing: 2px;
}

.pendidikan{
    text-align: justify;
}

.pendidikan  img{
    border-radius: 50%;
    border: 3px solid #efefef;
    box-shadow: 5px 8px 10px;
    overflow: hidden;
    height: 130px;
    width: 130px;
    float: left;
    margin-left: 30px;
    margin-right: 35px;
  }

.pendidikan h4{
    padding-top: 80px;
    color: rgba(255, 255, 255, 0.744);
    text-align: center;
    margin-left: 0px;
    font-size: 25pt;
    margin-bottom: 30px;
    letter-spacing: 5px;
}

.sd{
    float: left;    
    line-height: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px rgba(116, 227, 255, 0.817);
    height: 50%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sd h4{
    color: black;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 3px;
    padding-top: 0px;
    letter-spacing: 2px;
}

.sd p {
    color: rgba(0, 0, 0, 0.665);
}

.smp{
    float: left;    
    line-height: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 19px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px rgba(116, 227, 255, 0.817);
    height: 50%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.smp h4{
    color: black;
    display:flex;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 3px;
    letter-spacing: 2px;
    padding-top: 30px;
}

.smp p {
    color: rgba(0, 0, 0, 0.665);
}

.sma{
    float: left;    
    line-height: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 19px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 15px rgba(116, 227, 255, 0.817);
    height: 50%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sma h4{
    color: black;
    display:flex;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 3px;
    letter-spacing: 2px;
    padding-top: 18px;
}

.sma p {
    color: rgba(0, 0, 0, 0.665);
}

.container-uk-grid{
    margin-left: 10px;
    margin-right: 10px;
}

.portofolioku h4{
    text-align: center;
    padding-top: 45rem;
    color:  rgba(255, 255, 255, 0.744);
    font-family: fantasy;
    letter-spacing: 5px;
    text-shadow: 5px 6px 10px gray;
    font-size: 25pt;
    margin-left: 40px;
}

.organisasi h4{
    padding-top: 50px ;
    text-align: start;
    margin-left: 30px;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}

.organisasi p{
    color: aliceblue;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-right: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.organisasi b{
    color: rgb(250, 255, 173);
}

.fotovideo h4{
    padding-top: 100px;
    text-align: start;
    margin-left: 30px;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
    color: rgb(250, 255, 173);
}

.fotovideo p{
    color: aliceblue;
    letter-spacing: 2px;
    margin-left: 30px;
    margin-right: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.fotovideo b{
    color: rgb(250, 255, 173);
}

nav{
    background: whitesmoke;
    width: 480px auto;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 5px 5px 15px rgba(116, 227, 255, 0.817);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;    
    text-align: center;
    font-size: 10pt;
}

nav a:hover{
    transition: 0.25s;
    background: rgb(56, 130, 209);
    color: white;
}

nav b{
    color: black;
}
/* bagian foto2 */
.foto h2{
    letter-spacing: 3px;
    font-family: fantasy;
    text-align: center;
    text-shadow: 5px 4px 7px gray;
    color: aliceblue;
}

.foto{
    margin-left: 80px;
}
.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slide{
    height: 80vh;
    border-radius: 29px;
    margin: 2px;
    cursor: pointer;
    color: black;
    flex: 0.2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    filter: blur(4px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.817);
}

.slide.active{
    flex: 20;
    filter: blur(0px);
}

/* responsive */

.container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.slide{
    width: 95vw;
    border-radius: 20px;
    margin: 10px;
}

.button-organisasi b{
    color: black;
    font-size: 13pt;
    letter-spacing: 2px;
}

.area-icon {
    margin: 0 auto;
    padding-left: 30%;
    width: 200px;
    text-align: center;
    color: black;
    background-color:blanchedalmond;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.uk-width-1-3 {
    float: right;
    size-adjust: 10px;
    padding-top: 0px;
}

.mention{
    text-align: center;
    margin-top: 20%;
    letter-spacing: 2px;
    color: black;
    padding-left: 60%;
}

.mention p{
    margin-bottom: 0px;
    color: white;
    margin: 30px;
    display: flex;
    text-align: center;
}

.icon{
    padding-bottom: 30%;
    padding-top: 4%;
}
